{% extends "wagtail_helpdesk/cms/answer_detail.html" %}
{% load wagtailcore_tags %}

{% block head %}
  <div class="content-header">
    <div class="content-header__wrapper">
      <a class="content-header__back-link" href="{% pageurl self.get_parent %}">
        <span class="content-header__back-link-icon"></span>
      </a>
      <div class="content-header__title-container">
        <h1 class="content-header__title">
          {{ self.title }}
        </h1>
      </div>
      <div class="content-header__theme">
        {% for category in self.get_all_categories %}
          <a href="{% pageurl self.get_parent %}{{ category.url }}"><span
                  class="content-header__subject-tag tag">{{ category.title }}</span></a>
        {% endfor %}
      </div>
    {% if self.introduction %}
      <div class="content-header__introduction">
        <p class="content-header__introduction-text">{{ self.introduction }}</p>
      </div>
    {% endif %}
      <div class="content-header__tags">
        {% for tag in self.tags.all %}
          <span class="content-header__tag">#{{ tag }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
